.generate-trealet {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.generate-trealet-left,
.main-modal {
  background: #ededed;
  padding: 24px;
  border-radius: 6px;
}

.generate-trealet-left {
  margin: 2% 5%;
}

.div-btn-download {
  text-align: end;
  margin-bottom: 16px;
}

.btn-add-new {
  /* margin-right: 16px; */
}

.download button {
  width: 60%;
  height: 50px;
}

.add-form {
  background: #fff;
  padding: 16px;
  border-radius: 8px;
}

.title-show-off,
.title-step-quest {
  width: 100%;
  height: 100px;
  background: #dcdcdc;
  font-size: 40px;
  font-weight: 600;
  padding: 20px;
  text-align: center;
  margin-bottom: 16px;
}

.input-item {
  margin-bottom: 8px;
}

.input-item_title {
  margin-bottom: 8px;
}

.icon-edit,
.icon-delete {
  padding: 8px;
  border: 1px solid #989191;
  border-radius: 6px;
  cursor: pointer;
}

.icon-edit:hover,
.icon-delete:hover {
  background: #1094a9;
  color: white;
  border-color: #1094a9;
}

.show-long-text {
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* modal */

.ant-modal-content {
  border-radius: 12px !important;
}

.ant-modal-header {
  border-radius: 12px 12px 0 0 !important;
}

.ant-modal-footer {
  border-radius: 0 0 12px 12px !important;
}

.modal-title {
  font-size: 26px;
  color: #615d5d;
}

.modal-footer-custom {
  padding: 8px;
}

.btn-cancel-modal {
  background-color: #dedede !important;
  color: #000 !important;
  border-color: #dedede !important;
}

.long-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

p {
  margin-bottom: 0.6em !important;
}

/* STEP QUEST */
.step-quest {
  margin: 2% 5%;
  padding: 24px;
  background: #ededed;
}
